<div ng-controller='mainCtrl'>
	
	<div class="row">
		<div class="col-xs-2">
			<div class="page-header">
			  <h1><small>参数设置</small></h1>
			</div>
			<form>
			  <div class="form-group">
			    <label for="rnumber">行数</label>
			    <input type="number" class="form-control" id="rnumber" placeholder="行数" min=1 max=100 ng-model="rnumber">
			  </div>
			  <div class="form-group">
			    <label for="cnumber">列数</label>
			    <input type="number" class="form-control" id="cnumber" placeholder="列数" min=1 max=100 ng-model="cnumber">
			  </div>
			</form>
		</div>
		<div class="col-xs-10">
			<div class="page-header">
			  <h1><small>实时表格</small></h1>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <div class="container">
			    	<div class="row">
				    	<button type="button" class="btn btn-primary" ng-click="merge()">合并</button>
					    <button type="button" class="btn btn-primary" ng-click="clearMerge()">完全拆分</button>
					    <button type="button" class="btn btn-primary" ng-click="splitH()">竖拆</button>
					    <button type="button" class="btn btn-primary" ng-click="splitV()">横拆</button>
					    <button type="button" class="btn btn-primary" ng-click="deleteRow()">删除行</button>
					    <button type="button" class="btn btn-primary" ng-click="deleteCol()">删除列</button>
					    <button type="button" class="btn btn-primary" ng-click="addRowTop()">上部添加行</button>
					    <button type="button" class="btn btn-primary" ng-click="addRowBottom()">下部添加行</button>
					    <button type="button" class="btn btn-primary" ng-click="addColLeft()">左侧添加列</button>
					    <button type="button" class="btn btn-primary" ng-click="addColRight()">右侧添加列</button>
					    <button type="button" class="btn btn-primary" ng-click="trans2Th()">设为表头</button>
				    	<button type="button" class="btn btn-primary" ng-click="trans2Head()">设为页眉</button>
				    	<button type="button" class="btn btn-primary" ng-click="trans2Td()">设为普通单元格</button>
				    </div>
			    </div>
			  </div>
			  <div class="panel-body">
				<div class="table-responsive" id="tableContainer">
				  <table class="table">
				  	<tbody>
				  		<tr ng-repeat="i in rnumberArray">
				  			<td ng-repeat="i in cnumberArray" repeat-callback></td>
				  		</tr>
				  	</tbody>
				  </table>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>