<div class="table-responsive">
  <table class="table">
  	<% for(var i = 1 ; i <= rnumber ; i ++) 
  		{
  			%>
  			<tr>
  			for(var j = 1 ; j <= cnumber ; j ++)
  			{
  				%>
  					</td>
  				<%
  			}
  			<%
  			</tr>
  			%>
  		}
  	%>
  </table>
</div>